.video-js {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 77.4vw;
    height: 37vw;
}

.vjs-poster {
    border-radius: 10px;
}

.otsikko {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
}
